body {
    height: 100%;
}

/* App component */
.App {
    font-size: 16px;
    padding-top: 0.2rem;
    padding-left: 3rem;
    padding-right: 1rem;
    min-height: 100vh;
}

/* NavBar Intro section */

.NavBar-intro {
    padding-left: 1rem;
}

.NavBar-intro-img {
    border-radius: 10%;
    width: 12rem;
    height: 12rem;
    margin-left: 1em;
    margin-bottom: 1rem;
}

.NavBar-intro-text {
    margin-left: 1rem
}

.NavBar-intro-name {
    font-weight: bold;
    font-size:1.1rem;
}

.NavBar-intro-title {
    color: gray;
    margin-bottom: 0.3rem;
}

.NavBar-intro-message {
    margin-bottom: 0.3rem;
}

/* NavBar body section */
.NavBar-body {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.NavBar-body-link {
    margin-left: 1rem;
    margin-right: 3rem;
}

.NavBar-body a{
    color: #a1a6ad;
}

.NavBar-body-resume {
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding-left:1rem;
    padding-right:1rem;
}

.NavBar-body-resume a{
    text-decoration: none;
    color: #ffffff;
}

/* Main component */
.Main {
    margin-top: 0.7rem;
    margin-left: -2rem;
}

/* Header component */
.Header {
    border-left: 0.3rem solid #0275d8;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.Header-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.Header-body {
    font-size: 1.1rem;
}

/* Dark Light component */
.Light {
    background-color: #ffffff;
    color: #000000;
}

.Dark {
    background-color: #000000; 
    color: #ffffff;
}

/* Project and Education components */
.Project, .Education {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
}

.ProjectSingle, .EducationSingle {
    margin-bottom: 1rem;
    margin-right: 0.1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 0.1rem solid #e3e2e1;
    border-radius: 0.5rem;
}

/* ProjectSingle component */
.ProjectSingle-img, .EducationSingle-img{
    width: 27rem;
    height: 14rem;
}

.Project-img-container, .Education-img-container{
    overflow: hidden;
}

.ProjectSingle-name, .EducationSingle-name{
    font-size: 1.1rem;
    font-weight: bold;
}

.ProjectSingle-name a{
    color: inherit;
}

.ProjectSingle-subname, .EducationSingle-subname{
    font-size: 1rem;
    color: gray;
    font-weight: normal;
}

.ProjectSingle-text, .EducationSingle-text{
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    white-space: pre-line;
}

.ProjectSingle-badge, .EducationSingle-badge{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #0275d8;
    font-size: 0.85rem;
}

/* About component */
.About {
    margin-top: 2rem;
    margin-left: -1rem;
}

.About-col{
    margin: 0 auto;
}

.About-tech{
    margin-bottom: 1rem;
}

.About-section{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.About-icon{
    margin-right: 1rem;
}

/* Toggle Switch Component */
.switch {
    position: relative;
    display: inline-block;
    width: 3.8rem;
    height: 2rem;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #0275d8;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #0275d8;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 0.2rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #0275d8; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0275d8;
}